
.heading {
  color:#282c34;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: large;
}

.flex-container {
  display: flex;
}



.flex-container-carts {
  display: flex;
}

.flex-container-button > button{
  width: 25px;
  height :25px
}
.flex-container-addtocarts {
  display: flex;
  background-color: #f1f1f1;
  margin: 10px;
  padding: 10px;
  font-size: 10px;  
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 10px;
  font-size: 10px;
}

.flex-container-carts > div {
  background-color: #f1f1f1;
  margin: 50px;
  padding: 10px;
}

.flex-container-carts > div > div > img {
  width :100px;
  height : 80px;
}




.add-cart {
  border-radius: 5px;
  border: light;
}


table {
  border-collapse: collapse; 
  font-family: helvetica;
 
}
td, tr {
      border:  1px solid;
      padding: 5px;
      min-width: 150px;
      min-height :10px;
      background: white;
      box-sizing: border-box;
      text-align: center;
}



table {
  box-sizing: border-box;
}
.change {
  min-width: 50px;
}
.abc {
  border-radius: 50px;
}
.row {
  margin-left:-5px;
  margin-right:-5px;
}
  
.column {
  float: left;
  width: auto;
  padding: 5px;
  min-width: 900px;
}
.column1 {
  float: left;
  width: auto;
  padding: 5px;
  min-width: 100px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}



